body, html{
  margin: 0;
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400; 
  line-height: 1.8em;
  color:#666;
}

.mainImageBG{
  /* background-image: url('/me.jpg'); */
  min-height: 50%;
}

.image2{
  /* background-image: url("/me.jpg"); */
  min-height: 50%;
}

.image3{
  background-image: url("/me.jpg");
  min-height: 50%;
}

.image4{
  background-image: url("/k.jpg");
  min-height: 80%;
}

.ptext{
  position: absolute;
  top: 50%; 
  width: 100%;
  text-align: center;
  color: #000; 
  font-size: 27px; 
  letter-spacing: 8px; 
  text-transform: uppercase;
  border-color: #fff;
}

.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px; 
}

.ptext .border .trans{
  background-color: transparent;
}


.mainImageBG,.image2,.image3,.image4{
  position: relative;
  opacity: 0.70;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.home{
  background-color: #6F2DBD;
}

.linksBar{
  width: 100%;
  background-color: #B298DC;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.linksBar > a { 
  transition: all 0.3s ease;
  color:black;
  font-size: 36px;
  opacity: .5;
  padding: 12px 12px 12px 12px; 
}

.linksBar a:hover{
  background-color: whitesmoke;
}

.section{ 
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color:#B298DC;
  opacity: 0.8;
  color: white;
}

.section-dark{
  background-color: #B298DC;
  background-size: 100%;
  padding: 120px 80px;
  opacity: 0.9;
  color:whitesmoke;
}

.section .textBox{
  background:bisque;
  color:black;
  padding: 10px 100px; 
}


@media(mac-width: 58px){
  .mainImageBG,.image2,.image3,.image4{
      background-attachment: scroll;
  }
}